#logo {
  width: 137.5px;
  height: 25px;
  align-self: center;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;

  @media screen and (max-width: 760px) {
    padding-left: 10px;
  }

  > div {
    display: flex;
    position: relative;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;

    @media screen and (max-width: 1023px) {
      width: 100%;
      justify-content: flex-start;
    }

    .logo {
      display: flex;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      height: 48px;
      width: 1px;
      border-left: solid 1px #ddd;
      margin: 0 8px;
    }

    .header-info {
      color: #717171;
      font-family: Rubik, sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 0;
      line-height: 20px;
    }

    ul {
      .activity-button {
        > button {
          font-size: 14px;
          color: #242424;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 10px;
          border-color: #ddd;
          border-width: 0 1px 0 1px;
          margin-right: 36px;

          @media screen and (max-width: 1023px) {
            margin: 0;
          }

          > div {
            width: 9px;
            height: 9px;
            border-radius: 25px;
            margin: 0 8px;
          }

          > .active {
            background-color: #7cb342;
          }

          > .inactive {
            background-color: #d92f2f;
          }
        }
      }

      .nav-link {
        font-family: Rubik, sans-serif;
        font-size: 16px;
        color: #515151;
        padding: 0 20px;
        font-weight: 400;
        text-decoration: none !important;

        &:hover {
          color: #209fa6;
        }

        &.active {
          text-decoration: none;
          font-weight: 500;
          color: #333;

          &::after {
            content: "";
            height: 6px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #209fa6;
          }
        }
      }

      li {
        height: 64px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: relative;

        &.nav-item {
          justify-content: space-around;
        }

        .user-avatar {
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}
