.container-header-gradient {
  position: relative;
  background-image: linear-gradient(90.91deg, #209fa6 -81.1%, #125496 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}
