.container-header-gradient {
  position: relative;
  background-image: linear-gradient(90.91deg, #209FA6 -81.1%, #125496 100%);;
  background-size: 100% 225px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}