.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > #page-content {
    flex: 1;
  }
  & > nav,
  & > .footer-section,
  & > .feedback-session-sign-up {
    flex: 0;
  }
}
