#admin-nav {
  .MuiTabs-flexContainer {
    > .MuiTab-root:focus,
    > .MuiTab-root.Mui-focusVisible {
      background: #036 !important;
      color: #fff !important;
      outline: none !important;
      box-shadow: none !important;
    }

    a:focus {
      text-decoration: none !important;
      background: #fafafa;
      outline: #fafafa;
      color: #000 !important;
    }

    a:hover {
      text-decoration: none !important;
      color: #fff !important;
      background: #001f3d;
    }

    > .MuiTab-root.Mui-selected {
      background: #fff !important;
      color: #036 !important;
    }

    > .MuiTab-root.Mui-selected a:hover,
    > .MuiTab-root.Mui-selected:hover {
      background: #fff !important;
      color: #036 !important;
      text-decoration: none !important;
    }
  }
}
