.route-change-dialog-body {
  font-family: Rubik, sans-serif;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;

  .dialog-warning-body {
    font-size: 16px;
    line-height: 19px;

    p {
      margin-bottom: 18px;
    }

    .strong {
      font-weight: 500;
    }
  }

  .dialog-warning-action {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #d92f2f;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -3px;

    > p {
      margin-left: 8px;
      margin-bottom: 0;
    }
  }
}
