.page-header {
  min-height: 207.04px;
  background: linear-gradient(to right, #125496, #1a7d9f);
  width: 100%;
  &.details {
    // display:none;
    min-height: min-content;
    background: #003366;
    > .details {
      padding: 24px 64px 31px 64px;
    }
  }
  > .measures {
    padding: 40px 130px 30px 130px;

    > div {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;

      > .left-col {
        display: flex;
        flex-direction: column;
        font-family: Rubik, sans-serif;
        color: #fff;

        > h1 {
          font-size: 48px;
          font-weight: 400;
          color: inherit;
          margin: 0 0 16px 0;
          line-height: 54px;
        }

        > h4 {
          color: inherit;
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          line-height: 20px;
        }
      }

      > .right-col {
        padding-right: 2rem;

        .create-button {
          color: #0073cb;
        }
      }
    }
  }

  .details {
    padding: 32px 32px 18px 32px;
    display: flex;
    flex-direction: column;
    font-family: Rubik, sans-serif;

    > div {
      display: flex;
      flex-direction: row;
      color: #fff;
      align-items: center;

      .division,
      .MuiBreadcrumbs-separator {
        font-size: 14px;
        font-weight: 400;
        font-family: Rubik, sans-serif;
        opacity: 0.3;
        margin-left: 8px;
        color: #fff;
      }

      > .draft-bubble {
        color: #242424;
        font-weight: 400;
        font-size: 14.4px;
        line-height: 20px;
        background-color: #e1f3f8;
        padding: 2px 12px;
        border: 1px solid #e1f3f8;
        border-radius: 24px;
        display: flex;
        align-items: center;
        height: 24px;
        margin-left: 31px;
      }

      > p {
        font-size: 16px;
        font-family: Rubik, sans-serif;

        &.name {
          margin-top: 8px;
          margin-bottom: 26px;
          line-height: 24px;
          font-weight: 400;
          font-size: 24px;
        }

        > .active {
          padding-top: 3px;
          background-color: #7cb342;
          border-radius: 100%;
          height: 9px;
          width: 9px;
          display: inline-flex;
          align-items: center;
          margin-right: 8px;
        }
      }
    }
  }

  .page-header-action-button {
    padding: 14px 23px !important;
    .page-header-action-icon {
      margin-right: 5px;
    }
  }
}
